---
import TableMap from '@assets/maps/2026_BETA_map.svg'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/magmaon-viz/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Magmaon-Viz</title>
	</head>
	<body>
		<h1>Magmaon-Viz</h1>
		<main>
			<TableMap id="gameArea" />
			<button id="startButton" disabled>Start!</button>
			<button id="resetButton" disabled>Reset</button>
		</main>
	</body>
</html>

<style>
	#gameArea {
		max-width: 56rem;
		width: 100%;
		height: auto;
		border: 2px solid black;
	}
</style>

<script>
	import { newViz } from '@lib/viz';

	const gameArea = document.getElementById("gameArea");
	const startButton = document.getElementById("startButton");
	const resetButton = document.getElementById("resetButton");
	if (!gameArea || !startButton || !resetButton) {
		throw new Error("Failed to get elements");
	}

	const viz = newViz(gameArea);
	if (!viz) {
		throw new Error("Failed to create viz");
	}
	startButton.removeAttribute("disabled");

	startButton.addEventListener("click", () => {
		if (resetButton.hasAttribute("disabled")) {
			resetButton.removeAttribute("disabled");
		}
		if (viz.isPlaying()) {
			viz.pause();
			startButton.textContent = "Resume";
		} else {
			viz.play();
			startButton.textContent = "Pause";
		}
	});

	resetButton.addEventListener("click", () => {
		viz.clear();
		startButton.textContent = "Start!";
		resetButton.setAttribute("disabled", "");
	});
</script>